In [5]:
!source venv/bin/activate
!pip3 install matplotlib seaborn pandas

Collecting matplotlib
  Using cached matplotlib-3.10.6-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting pandas
  Using cached pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Using cached fonttools-4.60.1-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (112 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (6.3 kB)
Collecting numpy>=1.23 (from matplotlib)
  Using cached numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: packaging>=20.0 in /home/stijn/api/venv/lib/python3.12/site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /home/stijn/api/venv/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/stijn/api/venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Using cached matplotlib-3.10.6-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
Using cached contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (362 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.60.1-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (4.9 MB)
Using cached kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (1.5 MB)
Using cached numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
Using cached pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
Using cached pyparsing-3.2.5-py3-none-any.whl (113 kB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.6 numpy-2.3.3 pandas-2.3.3 pillow-11.3.0 pyparsing-3.2.5 pytz-2025.2 seaborn-0.13.2 tzdata-2025.2

In [9]:
#importing libraries

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from pathlib import Path

In [23]:
BASE_DIR = Path("/data/tennis_atp")
# Patterns to include; extend if you also have JSON/Parquet
INCLUDE_PATTERNS = [
    "atp_matches*.csv",
    "atp_future_matches*.csv",
    "atp_matches*.parquet",
    "atp_future_matches*.parquet",
    "atp_matches*.json",
    "atp_future_matches*.json",
]
EXCLUDE_SUBSTRINGS = ["amateur","doubles"]  # skip any file containing these substrings in the name

In [29]:
print(files.extend(BASE_DIR.glob(pat)))

None

In [39]:
from pathlib import Path
import pandas as pd

# ---- Config ----
BASE_DIR = Path.home() / "api/lilly/data/tennis_atp"
INCLUDE_PATTERNS = ["atp_matches_*.csv", "atp_matches_futures_*.csv"]
EXCLUDE_SUBSTRINGS = ["amateur", "doubles", "qual_chall"]

def load_dataframe_from_file(fp: Path) -> pd.DataFrame:
    df = pd.read_csv(fp)
    # Always return a DataFrame; even empty is OK
    if not isinstance(df, pd.DataFrame):
        raise ValueError("read_csv did not return a DataFrame")
    df.attrs["source_file"] = fp.name
    return df

# Gather files
files = []
for pat in INCLUDE_PATTERNS:
    files.extend(BASE_DIR.glob(pat))
files = sorted(f for f in files if all(ex not in f.name.lower() for ex in EXCLUDE_SUBSTRINGS))

print(f"Found {len(files)} files to load.")

dfs, bad_files = [], []
for f in files:
    try:
        df = load_dataframe_from_file(f)
        dfs.append(df)
    except Exception as e:
        bad_files.append((f.name, str(e)))

print(f"Loaded {len(dfs)} dataframes.")
if bad_files:
    print("Bad files:")
    for name, err in bad_files[:10]:
        print(" •", name, "->", err)
    if len(bad_files) > 10:
        print(" ...")

# Summary (safe for empty frames)
summary_rows = []
for df in dfs:
    fname = df.attrs.get("source_file", "UNKNOWN")
    row = {"file": fname, "rows": len(df), "cols": len(df.columns)}
    # Try to parse a date-ish column
    date_col = next((c for c in ["tourney_date","date","match_date","start_date","utc_date"] if c in df.columns), None)
    if date_col:
        dt = pd.to_datetime(df[date_col], errors="coerce", utc=True)
        row["date_min"] = dt.min()
        row["date_max"] = dt.max()
    summary_rows.append(row)

summary_df = pd.DataFrame(summary_rows).sort_values("file", ignore_index=True)
display(summary_df)

# Peek a couple frames
for i, df in enumerate(dfs[:2], 1):
    print(f"\n=== Preview #{i}: {df.attrs.get('source_file','UNKNOWN')} ===")
    display(df.head(10))

Found 125 files to load.
Loaded 125 dataframes.

,file,rows,cols,date_min,date_max
0,atp_matches_1968.csv,4377,49,1970-01-01 00:00:00.019671228+00:00,1970-01-01 00:00:00.019690101+00:00
1,atp_matches_1969.csv,3165,49,1970-01-01 00:00:00.019681230+00:00,1970-01-01 00:00:00.019691226+00:00
2,atp_matches_1970.csv,3287,49,1970-01-01 00:00:00.019700104+00:00,1970-01-01 00:00:00.019701226+00:00
3,atp_matches_1971.csv,3640,49,1970-01-01 00:00:00.019710110+00:00,1970-01-01 00:00:00.019711213+00:00
4,atp_matches_1972.csv,3617,49,1970-01-01 00:00:00.019711206+00:00,1970-01-01 00:00:00.019730116+00:00
...,...,...,...,...,...
120,atp_matches_futures_2022.csv,16306,49,1970-01-01 00:00:00.020220103+00:00,1970-01-01 00:00:00.020221226+00:00
121,atp_matches_futures_2023.csv,17626,49,1970-01-01 00:00:00.020230102+00:00,1970-01-01 00:00:00.020231225+00:00
122,atp_matches_futures_2023.csv,17626,49,1970-01-01 00:00:00.020230102+00:00,1970-01-01 00:00:00.020231225+00:00
123,atp_matches_futures_2024.csv,18423,49,1970-01-01 00:00:00.020240101+00:00,1970-01-01 00:00:00.020241216+00:00
124,atp_matches_futures_2024.csv,18423,49,1970-01-01 00:00:00.020240101+00:00,1970-01-01 00:00:00.020241216+00:00

=== Preview #1: atp_matches_1968.csv ===

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1968-2029,Dublin,Grass,32.0,A,19680708,270,112411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-2029,Dublin,Grass,32.0,A,19680708,271,126914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-2029,Dublin,Grass,32.0,A,19680708,272,209523,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-2029,Dublin,Grass,32.0,A,19680708,273,100084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-2029,Dublin,Grass,32.0,A,19680708,274,100132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1968-2029,Dublin,Grass,32.0,A,19680708,275,207073,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1968-2029,Dublin,Grass,32.0,A,19680708,276,109783,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1968-2029,Dublin,Grass,32.0,A,19680708,277,109745,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1968-2029,Dublin,Grass,32.0,A,19680708,278,201749,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1968-2029,Dublin,Grass,32.0,A,19680708,279,209525,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

=== Preview #2: atp_matches_1969.csv ===

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1969-2029,Dublin,Grass,32,A,19690707,270,100011,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1969-2029,Dublin,Grass,32,A,19690707,271,100058,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1969-2029,Dublin,Grass,32,A,19690707,272,100114,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1969-2029,Dublin,Grass,32,A,19690707,273,125672,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1969-2029,Dublin,Grass,32,A,19690707,274,100037,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1969-2029,Dublin,Grass,32,A,19690707,275,100067,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1969-2029,Dublin,Grass,32,A,19690707,276,207073,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1969-2029,Dublin,Grass,32,A,19690707,277,100120,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1969-2029,Dublin,Grass,32,A,19690707,278,110957,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1969-2029,Dublin,Grass,32,A,19690707,279,109783,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
if not dfs:
    raise RuntimeError("No dataframes loaded. Run the loading cell first.")

# Keep only real DataFrames (paranoia) and allow empty ones
dfs_clean = [d for d in dfs if isinstance(d, pd.DataFrame)]

all_matches = pd.concat(dfs_clean, ignore_index=True, sort=False)

# Normalize a date column if present
for candidate in ["tourney_date","date","match_date","start_date","utc_date"]:
    if candidate in all_matches.columns:
        all_matches[candidate] = pd.to_datetime(all_matches[candidate], errors="coerce", utc=True)
        break

# Drop exact duplicates (or provide a subset if you have a unique key)
all_matches = all_matches.drop_duplicates().reset_index(drop=True)

In [44]:
print(f"Merged shape: {c.shape}")
display(all_matches.sample(20))

Merged shape: (693551, 49)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
202480,1991-M-SA-MEX-04A-1991b,Mexcio 3 Masters 2,Hard,32.0,S,1970-01-01 00:00:00.019910930+00:00,22,101156,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,317.0,71.0,500.0,29.0
376591,2005-M-FU-FRA-19A-2005,France F19,Hard,32.0,S,1970-01-01 00:00:00.020051024+00:00,25,103424,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,755.0,19.0,372.0,81.0
494633,2013-M-FU-CHI-02A-2013,Chile F2,Clay,32.0,S,1970-01-01 00:00:00.020130422+00:00,12,105635,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,808.0,18.0,357.0,112.0
74505,1987-425,Barcelona,Clay,56.0,A,1970-01-01 00:00:00.019870921+00:00,2,100809,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,260.0,NaN,218.0,NaN
31222,1976-278,Barcelona,Clay,64.0,A,1970-01-01 00:00:00.019760404+00:00,39,100185,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73403,1987-375,Lyon,Carpet,32.0,A,1970-01-01 00:00:00.019870202+00:00,28,100893,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,340.0,NaN
73023,1987-328,Basel,Hard,32.0,A,1970-01-01 00:00:00.019871005+00:00,13,100434,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,78.0,NaN
652633,2022-M-ITF-SUI-04A-2022,M25 Muttenz,Clay,32.0,25,1970-01-01 00:00:00.020220815+00:00,402,104586,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,336.0,135.0,436.0,91.0
36645,1977-407,Rotterdam,Carpet,16.0,A,1970-01-01 00:00:00.019770321+00:00,12,100119,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,32.0,NaN
534060,2015-M-FU-ISR-01A-2015,Israel F1,Hard,32.0,S,1970-01-01 00:00:00.020150309+00:00,1,104993,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,308.0,153.0,NaN,NaN
692369,2024-M-ITF-URU-2024-004,M15 Punta del Este,Clay,32.0,15,1970-01-01 00:00:00.020240318+00:00,304,209402,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,1639.0,2.0,797.0,26.0
182212,2020-0506,Buenos Aires,Clay,32.0,A,1970-01-01 00:00:00.020200210+00:00,284,105643,NaN,NaN,...,65.0,42.0,10.0,14.0,5.0,9.0,87.0,666.0,77.0,738.0
138070,2005-424,San Jose,Hard,32.0,A,1970-01-01 00:00:00.020050207+00:00,21,102642,NaN,NaN,...,36.0,20.0,12.0,9.0,4.0,7.0,55.0,699.0,87.0,474.0
192672,2024-0403,Miami Masters,Hard,128.0,M,1970-01-01 00:00:00.020240318+00:00,274,106421,3.0,NaN,...,40.0,22.0,10.0,10.0,5.0,11.0,4.0,7765.0,31.0,1250.0
56900,1982-419,Indianapolis,Clay,64.0,A,1970-01-01 00:00:00.019820803+00:00,32,100555,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN
384027,2006-M-FU-ESP-16A-2006,Spain F16,Clay,32.0,S,1970-01-01 00:00:00.020060522+00:00,8,104501,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,412.0,71.0,1052.0,7.0
205789,1992-M-SA-BRA-01A-1992d,Brazil 1 Masters 4,Clay,24.0,S,1970-01-01 00:00:00.019920316+00:00,18,102224,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,634.0,NaN,369.0,NaN
286711,1999-M-SA-CRO-02A-1999a,Croatia 2 Masters 1,Clay,32.0,S,1970-01-01 00:00:00.019990403+00:00,3,110478,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,834.0,12.0
460346,2011-M-FU-ITA-09A-2011,Italy F9,Clay,32.0,S,1970-01-01 00:00:00.020110509+00:00,6,105821,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,935.0,9.0,717.0,21.0
679815,2024-M-ITF-ESP-2024-036,M25 Oviedo,Clay,32.0,25,1970-01-01 00:00:00.020240826+00:00,203,202307,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,375.0,127.0

In [49]:
all_matches.to_csv("data/all_matches.csv", index=False)

In [50]:
all_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693551 entries, 0 to 693550
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          693551 non-null  object
 1   tourney_name        693551 non-null  object
 2   surface             690561 non-null  object
 3   draw_size           692716 non-null  float64
 4   tourney_level       693551 non-null  object
 5   tourney_date        693551 non-null  datetime64[ns, UTC]
 6   match_num           693551 non-null  int64
 7   winner_id           693551 non-null  int64
 8   winner_seed         303254 non-null  float64
 9   winner_entry        123398 non-null  object
 10  winner_name         693551 non-null  object
 11  winner_hand         693548 non-null  object
 12  winner_ht           444407 non-null  float64
 13  winner_ioc          693543 non-null  object
 14  winner_age          688237 non-null  float64
 15  loser_id            693551 non-null  int64
 16  loser_seed          148641 non-null  float64
 17  loser_entry         221302 non-null  object
 18  loser_name          693551 non-null  object
 19  loser_hand          693538 non-null  object
 20  loser_ht            353359 non-null  float64
 21  loser_ioc           693471 non-null  object
 22  loser_age           681398 non-null  float64
 23  score               693509 non-null  object
 24  best_of             693551 non-null  int64
 25  round               693551 non-null  object
 26  minutes             95105 non-null   float64
 27  w_ace               98051 non-null   float64
 28  w_df                98050 non-null   float64
 29  w_svpt              98050 non-null   float64
 30  w_1stIn             98050 non-null   float64
 31  w_1stWon            98050 non-null   float64
 32  w_2ndWon            98050 non-null   float64
 33  w_SvGms             98050 non-null   float64
 34  w_bpSaved           98050 non-null   float64
 35  w_bpFaced           98050 non-null   float64
 36  l_ace               98050 non-null   float64
 37  l_df                98051 non-null   float64
 38  l_svpt              98050 non-null   float64
 39  l_1stIn             98050 non-null   float64
 40  l_1stWon            98050 non-null   float64
 41  l_2ndWon            98050 non-null   float64
 42  l_SvGms             98050 non-null   float64
 43  l_bpSaved           98050 non-null   float64
 44  l_bpFaced           98050 non-null   float64
 45  winner_rank         618430 non-null  float64
 46  winner_rank_points  562141 non-null  float64
 47  loser_rank          555986 non-null  float64
 48  loser_rank_points   507403 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(30), int64(4), object(14)
memory usage: 259.3+ MB

In [4]:
import pandas as pd
all_matches = pd.read_csv("data/all_matches.csv")

required_cols = [
    "tourney_id", "tourney_name", "surface", "draw_size", "tourney_level",
    "tourney_date", "winner_id", "winner_seed", "winner_name", "loser_name",
    "score", "w_ace", "l_ace", "w_1stIn", "w_1stWon", "w_2ndWon", "w_bpSaved",
    "w_bpFaced", "l_ace", "l_df", "l_svpt", "l_1stIn", "l_1stWon", "l_2ndWon",
    "l_bpSaved", "l_bpFaced", "winner_rank", "loser_rank"
]

# Make sure we only include columns that actually exist in all_matches
required_cols = [c for c in required_cols if c in all_matches.columns]

# Filter DataFrame: keep only rows where all required columns are not null
filtered_matches = all_matches[all_matches[required_cols].notna().all(axis=1)].copy()

print(f"Original shape: {all_matches.shape}")
print(f"Filtered shape (no nulls in required columns): {filtered_matches.shape}")

# Preview
filtered_matches.to_csv("data/matches_with_stats.csv")
display(filtered_matches.head(20))

/tmp/ipykernel_205647/2915505224.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  all_matches = pd.read_csv("data/all_matches.csv")

Original shape: (693551, 49)
Filtered shape (no nulls in required columns): (43007, 49)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
86624,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,4,101889,8.0,NaN,...,45.0,30.0,11.0,10.0,5.0,8.0,50.0,NaN,84.0,NaN
86629,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,9,101529,6.0,NaN,...,42.0,27.0,13.0,10.0,7.0,9.0,42.0,NaN,67.0,NaN
86636,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,16,101793,2.0,NaN,...,51.0,36.0,13.0,12.0,11.0,15.0,25.0,NaN,86.0,NaN
86641,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,21,101529,6.0,NaN,...,42.0,26.0,7.0,9.0,2.0,6.0,42.0,NaN,66.0,NaN
86644,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,24,101793,2.0,NaN,...,36.0,21.0,14.0,10.0,6.0,10.0,25.0,NaN,54.0,NaN
86647,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,27,101529,6.0,NaN,...,57.0,39.0,12.0,13.0,4.0,7.0,42.0,NaN,60.0,NaN
86648,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,28,101793,2.0,NaN,...,34.0,28.0,12.0,10.0,1.0,3.0,25.0,NaN,111.0,NaN
86650,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,30,101529,6.0,NaN,...,40.0,29.0,18.0,11.0,1.0,3.0,42.0,NaN,25.0,NaN
86655,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,4,101439,8.0,NaN,...,61.0,38.0,7.0,13.0,4.0,10.0,70.0,NaN,263.0,NaN
86656,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,5,101735,3.0,NaN,...,40.0,17.0,13.0,10.0,7.0,13.0,32.0,NaN,103.0,NaN
86659,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,8,100954,5.0,NaN,...,40.0,27.0,10.0,10.0,2.0,5.0,43.0,NaN,97.0,NaN
86660,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,9,101481,6.0,NaN,...,29.0,14.0,2.0,7.0,3.0,9.0,45.0,NaN,95.0,NaN
86664,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,13,101233,7.0,NaN,...,42.0,27.0,6.0,9.0,9.0,12.0,64.0,NaN,115.0,NaN
86670,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,19,101735,3.0,NaN,...,42.0,22.0,11.0,8.0,4.0,8.0,32.0,NaN,83.0,NaN
86672,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,21,101481,6.0,NaN,...,49.0,28.0,8.0,8.0,12.0,16.0,45.0,NaN,167.0,NaN
86677,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,26,101735,3.0,NaN,...,66.0,40.0,19.0,17.0,5.0,11.0,32.0,NaN,79.0,NaN
86678,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,27,101481,6.0,NaN,...,31.0,20.0,12.0,10.0,3.0,7.0,45.0,NaN,91.0,NaN
86680,1991-354,Wellington,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,29,101735,3.0,NaN,...,92.0,55.0,16.0,16.0,4.0,8.0,32.0,NaN,80.0,NaN
86683,1991-301,Auckland,Hard,32.0,A,1970-01-01 00:00:00.019910107+00:00,1,101142,1.0,NaN,...,30.0,17.0,7.0,8.0,2.0,6.0,9.0,1487.0,78.0,459.0
86690,1991-301,Auckland,Hard,32.0,A,1970-01-01 00:00:00.019910107+00:00,8,100954,5.0,NaN,...,61.0,40.0,26.0,14.0,5.0,8.0,45.0,645.0,117.0,294.0