In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("data/matches_with_stats.csv", parse_dates=["tourney_date"])

print("Initial shape:", df.shape)
df.head()

Initial shape: (43007, 50)

/tmp/ipykernel_205949/3413275826.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/matches_with_stats.csv", parse_dates=["tourney_date"])

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,86624,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,4,101889,8.0,...,45.0,30.0,11.0,10.0,5.0,8.0,50.0,NaN,84.0,NaN
1,86629,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,9,101529,6.0,...,42.0,27.0,13.0,10.0,7.0,9.0,42.0,NaN,67.0,NaN
2,86636,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,16,101793,2.0,...,51.0,36.0,13.0,12.0,11.0,15.0,25.0,NaN,86.0,NaN
3,86641,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,21,101529,6.0,...,42.0,26.0,7.0,9.0,2.0,6.0,42.0,NaN,66.0,NaN
4,86644,1991-339,Adelaide,Hard,32.0,A,1970-01-01 00:00:00.019901231+00:00,24,101793,2.0,...,36.0,21.0,14.0,10.0,6.0,10.0,25.0,NaN,54.0,NaN

In [3]:
drop_cols = [
    "winner_entry",
    "loser_seed",
    "loser_entry",
    "minutes",
    "loser_rank_points",
    "winner_rank_points",
    "loser_ht"
]

# Drop only if they exist
df = df.drop(columns=[c for c in drop_cols if c in df.columns])

print("After dropping columns:", df.shape)

After dropping columns: (43007, 43)

In [4]:
# Drop rows with any NaN left
df_cleaned = df.dropna().reset_index(drop=True)

print("After dropping null rows:", df_cleaned.shape)

# Check nulls to confirm all gone
print("Remaining nulls per column:\n", df_cleaned.isnull().sum().sum())

After dropping null rows: (43003, 43)
Remaining nulls per column:
 0

In [5]:
output_path = "data/matches_with_stats_cleaned.csv"
df_cleaned.to_csv(output_path, index=False)

print(f"Cleaned dataset saved to {output_path}")

✅ Cleaned dataset saved to data/matches_with_stats_cleaned.csv